ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(60, 226, 60);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    background-size: 100%;
    }

    table {
        top: 40%;
        left: 30%;
        z-index: 1;
        position: fixed;
        color: white;
        font-size: 40px;
        text-align: center;
    }