* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(253, 253, 253);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

li {
    float: right;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(240, 43, 43),black);
    margin: 0;
}

h2 {
    display: flex;
    color: transparent;
    font-size: 5vw;
    margin-bottom: 20%;
    margin-left: -10%;
    align-items: center;
}

h2 span {
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0% {
        color: #fff;
        filter: blur(2px) hue-rotate(0deg);
        text-shadow: 0 0 10px black,
        0 0 20px black,
        0 0 40px black,
        0 0 80px black,
        0 0 120px black,
        0 0 200px black,
        0 0 300px black,
        0 0 400px black;
    }
    30%, 70% {
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px black,
        0 0 20px black,
        0 0 40px black,
        0 0 80px black,
        0 0 120px black,
        0 0 200px black,
    }
    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
}

