body {
    font-family: system-ui, sans-serif;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(253, 253, 253);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li {
    float: right;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    background-size: auto;
    }
    

.texte h1 {
    top: 10%;
    z-index: 1;
    position: fixed;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    color: tomato;
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    
  }

#boutons {
    display: flex;
    justify-content: space-around;
}

.inscription {
    bottom: 10%;
    padding: 20px;
    left: 50%;
    z-index: 1;
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 35px;
    background-color: rgb(207, 91, 49);
}
.inscription .gauche{
    position: absolute;
    left: 10%;
    top:20%;
}
.connexion .droite{
    position: absolute;
    left:5%;
    top:20%;
}

.connexion {
    bottom: 10%;
    padding: 20px;
    left: 40%;
    z-index: 1;
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 35px;
    background-color: rgb(207, 91, 49);
}

footer {
    background: saddlebrown;
    text-align: center;
    border: 2px solid black;
}